body h2 {
    color:"blue"
}

button {

    background-color: #5a84cc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

button:hover {
    border: none;
    background:lightblue;
    box-shadow: 0px 0px 1px #777;
}

#actionResults {
    color:#5a84cc;
    font-family:Verdana, Arial, sans-serif;
    font-size:16px;
    display: inline;
}


