<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/easyqosstyle.css">
    <title> EasyQoS - Demo Automation </title>
</head>
<body>

    <div id="buttonsDiv" >
        <p>
            <h2> Start APIC Demo Video Stream </h2>
            <button id="startVideoButton" > Start Video </button>
        </p>
    <p>
        <h2> Stop APIC Demo Video Stream </h2>
        <button id="stopVideoButton" > Stop Video </button>
    </p>
    <p>
        <h2> Clear Output </h2>
        <button id="clearButton" > Clear Output </button>
    </p>


    </div>

    <div id="label">
        <h2> Results from Service: </h2>
    </div>

    <div id="actionResults"></div>

    <div class="modal"><!-- Place at bottom of page --></div>

    <script>


        $body = $("body");

        $(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }
        });


        $("#startVideoButton").click(function(jsonActionPost) {
                var actionPost =  '{ "action" : "start-video" }';
                jsonActionPost = JSON.parse(actionPost);
                actionAjax(jsonActionPost);

            });

            $("#stopVideoButton").click(function(jsonActionPost) {
                var actionPost =  '{ "action" : "stop-video" }';
                jsonActionPost = JSON.parse(actionPost);
                actionAjax(jsonActionPost);
            });

            var url = "http://127.0.0.1:8083/videoaction";

            function actionAjax(jsonActionPost) {

                /* ajax call to flask webserver */

                $(document).ajaxStart(function() {
                    $(document.body).css({'cursor' : 'wait'});
                }).ajaxStop(function() {
                    $(document.body).css({'cursor' : 'default'});
                });

                $.ajax({
                    url: url,
                    type: 'post',
                    crossDomain: false,
                    dataType: 'json',
                    data: jsonActionPost,
                    success: function(results){
                        // Flask server return arbitrary json formatted response, printed below
                        $('#actionResults').append('<p>' + results.message + '</p>') }

                });

            }

            $(document).ready(function() {
                $("#clearButton").click(function(){
                    $('#actionResults').empty()
                });
            });

    </script>

</body>
</html>